.modal {
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 72px 112px 0px;
  position: fixed;
  top: 168px;
  left: 56px;
  height: calc(100vh - 56px * 2);
  width: calc(100vw - 56px * 2);
  background-color: #fbfbfb;
  border-radius: 16px;
  overflow-y: auto;
  z-index: -1;
  transition: all ease 0.3s;

  &--active {
    top: 56px;
    z-index: 2;
    opacity: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  &__copyright {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 14px;
    font-weight: lighter;
  }

  &__close {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 21px;

    &::before {
      display: inline-block;
      content: "\00d7";
      font-size: 40px;
      line-height: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
  }

  &__media {
    height: 600px;
    width: 100%;
    max-width: 980px;
    background-color: #0a0a0a;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 16px;
  }

  &__explanation {
    font-size: 20px;
    width: 100%;
    max-width: 980px;
  }
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  transition: all 0.3s linear 0.2s;

  &--active {
    opacity: 1;
    z-index: 1;
    transition: all 0.3s linear 0s;
  }
}
